body{
    margin: 0px;
    padding: 0px;
    background-image: url(img/body-bg.webp);
    background-size: cover;
    height: 6300px;


}


.nav-item{
    margin: 10px;
    margin-left: 50px;
    font-size: 22px;
    margin-top: 25px;
    font-weight: 700;
    float: left;
}
/* .nav-item:hover{
    width: 100px;
    height: 60px;
    text-align: center;
    background-color: rgb(134, 67, 197);
    border-radius: 10px;
} */

.logo{
    margin-left: -46px;
    width: 20%;
    height: 149px;
}
.icon i{
    font-size: 30px;
    color: aliceblue;
    float: right;
    display: none;
}
.logo img{

    width: 100%;
    height: 140px;
    
}
.navbar-nav{
    margin-left: 3%;
    font-size: 25px;
}


.button{
    width: 30%;
    height: 100%;
    background-image: url(img/btn-signup.webp);
    background-size: cover;

}
.box{
    width: 100%;
    height: 900px;
    background-image: url(img/hero-bg1.webp);
    background-size: cover;
}
.box1{
    float: left;
    height: 700px;
    background-color: transparent;
}
.box1 h1{
    font-size: 94px;
    color: azure;
    
    font-family: "Metal Mania", system-ui;
    padding-top: 185px;
    border: 10px 10px 10px 10px solid rgb(172, 87, 186);
}
.box1 p{
    color: aliceblue;
    font-size: 25px;
}
.box1 button{
    margin-top: 50px;
    margin-left: 117px;
    border: none;
    width: 34%;
    height: 80px;
    color: white;
    border-radius: 20px;
    /* background-color: antiquewhite; */
    background-image: url(img/btn-bg.webp);
    background-size: cover;
    transition: all 600ms ease-out;
    font-size: 25px;
    float: left;
}
.box1 button:hover{
    transform: scale(1.2);
}
.box2{
    margin-top: -500px;
    float: left; 
    height: 400px;
    background-color: transparent;
    margin-left: 126%;
}
.box2 img{
    /* margin-left: 126%; */

    height: 500px;
}
.welcome h2{
    margin-top: 30px;
    color: white;
    font-family: "Archivo", sans-serif;;
    font-size: 4rem;
    text-align: center;
}
.box3{
    margin-top: 20%;
    padding-top: 10%;
    /* padding: 5px; */
    /* margin: 55px;  */
    height: 500px;
}
.card img{
    margin-top: 21px;
    margin-left: 110px;
    width: 38%;
    height: 210px;
}
.card-body h5{
    padding-top: 10%;
    text-align: center;
    color: aliceblue;
    font-family: "Archivo", sans-serif;
}
.card-body p{
    text-align: center;
    padding-top: 5%;
    color: aliceblue;
}
.carousel{
    margin-top: 95px;
}
.img-fluid{
    margin-bottom: 170px;

}
.carousel-control-prev-icon{
    width: 15% !important;
    z-index: auto;
}

.box5{
    height: 50px;
    background-color: antiquewhite;
    background-image: url(img/text-mini-shape.webp);
}
.mm h2{
    color: azure;
    text-align: center;
    font-size: 56px;
    font-family:  "Archivo", sans-serif;;
    margin-top: 44px;
}
.mm p{
    color: azure;
    text-align: center;
    font-size: 25px;
    font-family:  "Archivo", sans-serif;;
}
.box6{
    height: 350px;
    background-image: url(img/testimonial-bg-fullwidth.webp);
    background-size: cover;
    border-radius: 30px;
    margin-top: 5%;
    border: 2px solid rgb(99, 57, 138);
}
.box6 p{
    color: azure;
    margin-left: 5%;
    padding-top: 8%;
    font-family: "Archivo", sans-serif;;
    font-size: 18px; 
}
.box6 h2{
    color: azure;
    
    margin-left: 5%;
    font-size: 39px;
    font-family: "Oswald", sans-serif;
;
    transition: all 600ms ease-out;
}
.box6 h5{
    float: left;
    margin-left: 5%;
    color: rgb(99, 57, 138);
}
.box6 h2:hover{
    transform: scale(1.1);
    color: rgb(119, 57, 177);
}
.box6 img{
    margin-left: 291px;
    margin-top: -65px;
    float: left;
    width: 10%;
}
.box6 a{
    margin-top: 20px;
}
.nn h2{
    color: azure;
    text-align: center;
    font-size: 56px;
    font-family:  "Archivo", sans-serif;;
    margin-top: 213px;
}
.nn p{
    color: azure;
    text-align: center;
    font-size: 25px;
    font-family:  "Archivo", sans-serif;;
}
.boxp{
    width: 100%;
    height: 400px;
    margin: 20px 0px; 
    border-radius: 30px;
    
}
.box7{
    padding-top: 145px;
   
    height: 400px;
    background-image: url(img/popular-game-thumb1.webp); 
    background-size: cover;
    
    
}

.mg-btn{
    display: none;
    
    

}
/* .box7:hover{
    background-image: url(img/testimonial-bg-fullwidth.webp) 3.1 transparent;
} */
.box7:hover .mg-btn{
    
    
    
    display: block;

}
.box8{
    padding-top: 145px;
    height: 400px;
    background-image: url(img/popular-game-thumb2.webp);
    background-size: cover;
    
}
.box8:hover .mg-btn{

    
    display: block;

}
.box9{
    padding-top: 145px;
    height: 400px;
    background-image: url(img/popular-game-thumb3.webp);
    background-size: cover;
    
}
.box9:hover .mg-btn{
    
    display: block;

}
.box10{
    padding-top: 145px;
    height: 400px;
    background-image: url(img/popular-game-thumb4.webp);
    background-size: cover;
    
}
.box10:hover .mg-btn{
    
    display: block;

}
.box-mg{
    margin-top: 5%;
    height: 1050px;
    background-image: url(img/testimonial-bg-fullwidth.webp);
    
    background-size: cover;
}
.hading h2{
    color: aliceblue;
    padding-top: 155px;
    font-size: 48px;
    font-family: "Archivo", sans-serif;
}
.hading h2 samp{
    color: blueviolet;
    font-size: 48px;
    font-family: "Archivo", sans-serif;
}
.b-block{
    width: 85%;
    height: 440px;
    padding-top: 87px;
    padding-left: 50px;
}
.box-p p{
    padding-top: 127px;
    color: aliceblue;
    font-size: 20px;
    font-family: "Archivo", sans-serif;
}
.box-p h4{
    color: aliceblue;
    font-size: 23px;
    font-family: "Archivo", sans-serif;

}
.carousel-control-prev-icon-gm{
    background-image: url(img/navigation-bg1.webp) !important;
    background-size: cover;
    width: 5rem !important;
    height: 4rem !important;
    margin-top: 58% !important;
}
.carousel-control-prev{
    width: 84% !important;

}
.carousel-control-next-icon-gm{
    background-image: url(img/navigation-bg1.webp) !important;
    background-size: cover;
    width: 5rem !important;
    height: 4rem !important;
    margin-top: 58% !important;
}
.carousel-control-next{
    width: 84% !important;
}
.carousel-control-next-icon-gm i{
    padding-top: 5px;
    font-size: 45px;
}
.pp{
    width: 100%;
    height: 150px;
    background-color: transparent;
}
.pp h6{
    text-align: center;
    color: aliceblue;
    font-size: 50px;
    font-family: "Exo", sans-serif;
    padding-top: 14%;
}
.box-m{
    width: 100%;
    height: 1500px;
    margin-top: 65px;
    /* background-image: url(img/testimonial-bg-fullwidth.webp);  */
    background-color: transparent;
    
    
}
.box-1{
    height: 350px;
    background-color: transparent;
}
.box-2{
    height: 350px;
    background-color: transparent;
}
.box-3{
    height: 350px;
    background-color: transparent;
}
.box-4{
    height: 350px;
    background-color: transparent;
}
.box-m p{
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    padding-top: 10px;
}
.box-m-img{
    width: 102% !important;
    height: 235px !important;
    margin-top: 21px !important;
    margin-left: 2px !important;
}
.card-body h6{
    color: aliceblue;
    margin-left: 5px;
    font-size: 28px;
}
.box-flex1{
    border-radius: 50px;
    height: 350px;
    background-image: url(img/gaming-update.webp);
    background-size: cover;
    /* margin-top: 15%; */
}
.box-flex1 h2{
    color: aliceblue;
    font-size: 58px;
    margin-left: 100px;
    padding-top: 107px;
    float: left;
    
}
.box-footer{
    height: 450px;
    background-color: aqua;
}
@media screen and (max-width:480px){
    body{
        margin: 0px;
        padding: 0px;
        
    }

    .logo img {
        margin-left: 1px;
        width: 203%;
        width: 172%;
        height: 140px;
    }
    .icon i{
        font-size: 48px;
        margin-left: 220px;
        display: block;
    }
    .box1 h1{
        text-align: center;
    }
    .box1 p{
        text-align: center;
    }
    .box1 button{
        width: 63%;
        margin-left: 84px;
    }
    .box2 {
        margin-left: -7px;
        height: 554px;
        margin-top: 57px;
        margin-bottom: 59px;
        background-color: transparent;
    }
    .box2 img {
        width: 100%;
        margin-top: 188px;
        /* margin-left: 126%; */
        height: 370px;
    }
    .box6{
        height: 360px;
    }
    .box6 img{
        margin-left: 315px;
        width: 17%;
    }
    .up-btn button{
        margin-left: 52px !important;
    }
    .carousel-control-prev-icon-gm{
        margin-left: -62px;
        margin-top: 164% !important;
    }
    .carousel-control-next-icon-gm{
        margin-top: 164% !important;
    }
    .box-m-img{
        height: 118px !important;
        width: 85% !important;
        margin-left: 30px !important;
    }
    .card-body{
        text-align: center;
    }
    .box-flex1{
        margin-top: 15%;
    }
    .box-flex1 h2{
        font-size: 30px;
        padding-top: 54px;
        margin-left: 68px;
    }
    .img-fluid {
        margin-bottom: 0px;
    }
    .box6 img {
        padding-top: 131px;
        margin-left: 188px;
        width: 18%;
    }
    .box6{
        margin-top: 10% !important;
        height: 485px;
    }
    .box6 h2{
        text-align: center;
    }
    .box6 p{
        text-align: center;
    }
    .box6 h5{
        text-align: center;
}
}
